<div class='box'>
  <div class='box-form'>

    <div class='box-login-tab'></div>

    <div class='box-login-title'>
      <div class='i i-login'></div>
      <h2>CS</h2>
    </div>

    <div class='box-login'>
      <div class='fieldset-body' id='login_form'>
        <p class='field'>
          <label for='username'>NAME</label>
          <input type='text' id='username' name='username' />
        </p>
        <p class='field'>
          <label for='email'>E-MAIL</label>
          <input type='text' id='email' name='email' />
        </p>
      	<p class='field'>
          <label for='password'>PASSWORD</label>
          <input type='password' id='password' name='password' />
        </p>
        <p class='field'>
          <label for='acc_type'>ACCOUNT TYPE</label>
          <input type='text' id='acc_type' name='acc_type' />
        </p>
        <input type='submit' id='do_login' value='CREATE ACCOUNT' />
      </div>
    </div>
  </div>
